/*Contenido del body*/
body
{
  background-color: #5E000F;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 2fr 1fr;
  grid-template-areas: "header header"
  "left right"
  "footer footer";
  height: 100vh;
}
.header
{
    grid-area: header;
}
.left
{
    grid-area: left;
}
.right
{
    grid-area: right;
}
.footer
{
    grid-area: footer;
}

/*Contenido del header*/
.headerimg
{
  margin: 1em;
  width: 4em;
  height: 4em;
  border-radius: 1.5em;
}
.container-head
{
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #2E000F;
  border-style: solid;
  border-color: black;
  align-items: center;
  gap: 2%;
  z-index: 1000;
}
.tituloprincipal
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  font-weight: 800;
  color: #997744;
  font-style: italic;
}
.headernav
{
  display: flex;
  position: relative;
  left: 55%;
  width: 15em;
  height: 3em;
  border-style: solid;
  border-radius: 1em;
  border-color: #000000;
  background-color: #55000F;
  justify-content: center;
}
.navitem
{
  cursor: pointer;
  width: 3.5em;
  border-style: solid;
  border-color: #000000;
}
.navitem :hover
{
  color: #000000;
  background-color: #7E333F;
}
button
{
  display: block;
  justify-content: center;
  justify-items: center;
  border-style: solid;
  border-radius: 1em;
  border-color: #5E222F;
  border-width: .1em;
  background-color: #5A000F;
  color: aliceblue;
  width: fit-content;
  margin: .5em;
}
@media screen and (max-width: 958px) 
{
  .headernav  
  {
    left: 20%;
  }
}
@media screen and (max-width: 858px)
{
  .headernav  
  {
    left: 5%;
  }
}

/*Contenido de la sección principal*/
.mainsection
{
  margin-top: 10em;
  position: relative;
  background-color: #3E000F;
  width: 100%;
  height: auto;
  color: #CCCCCC;
  margin: 1.5em;
  padding: 1.5em;
  padding-bottom: 6em;
  border-style: solid;
  border-color: #000000;
  border-width: .2em;
}
.section1
{
  width: 70%;
  position: relative;
  left: 10%;
  padding: 1em;
  padding-left: 1.5em;
  border-style: solid;
  border-color: #111111;
  background-color: #44121F;
}
.maintitle
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  font-style: italic;
  color: #8A333C;
  padding: .25em;
  position: relative;
  left: 37%;
  border-style: solid;
  border-radius: .3em;
  border-width: .1em;
  border-color: #2E000F;
  width: fit-content;
}
.gridimg
{
  width: 9em;
  height: 13em;
  border-style: solid;
  border-color: #000000;
}
.maingridarea
{
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
  grid-gap: 3%;
  padding: 1em;
  padding-left: 3em;
}
@media screen and (max-width: 958px) 
{
  .mainsection
  {
   padding-bottom: 16em;
   width: 90%;
  }
  .maintitle
  {
    left: 20%;
  }
  .section1
  {
    left: 8%;

  }
  .maingridarea
  {
    grid-template: 1fr 1fr/1fr 1fr;
    position: relative;
    left: 2%;
  }
}
@media screen and (max-width: 858px)
{
  .mainsection
  {
   padding-bottom: 16em;
  }
  .maintitle
  {
    left: 17%;
  }
  .maingridarea
  {
    grid-template: 1fr 1fr/1fr 1fr;
    padding-left: 1em;
  }
}
/*Contenido del side*/
.gridsideimg
{
  width: 9em;
  height: 13em;
  border-style: solid;
  border-color: #000000;
}
.secondtitle
{
  color: #998855;
  font-weight: 800;
  font-size: 1.3em;
}
.side
{
  position: relative;
  top: 15%;
  left: 25%;
  margin: 1em;
  padding: 2em;
  padding-bottom: 7em;
  width: fit-content;
  border-color: #000000;
  background-color: #5E222F;
  border-style: solid;
  
}
.sidegridarea
{
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  grid-gap: 5%;
}
@media screen and (max-width: 958px) 
{
  .side
  {
    top: 7%;
    left: 5%;
  }
  .secondtitle
  {
    padding-left: 1em;
  }
}
@media screen and (max-width: 858px)
{
  .side
  {
    width: 50%;
  }
  .secondtitle
  {
    position: relative;
    left: -1em;
  }
}

/*Contenido del footer*/
.footerflex
{
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border-top-style: solid;
  border-width: .1em;
  border-top-color: #997744;
  background-color: #111111;
  color: #EEEEEE;
}
.footeritem
{
  position: relative;
  top: 30%;
  width: fit-content;
  height: fit-content;
  padding: .7em;
}
@media screen and (max-width: 958px) 
{
  .footerflex
  {
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    height: 100%;
    padding-bottom: 2em;
    justify-items: left;
  }
  .footeritem
  {
    left: 20%;
    padding: 2em;
  }
}
@media screen and (max-width: 858px)
{
  .footeritem
  {
    left: 10%;
    padding: 1em;
  }
}

a:link, a:visited, a:active
{
  color:white;
  text-decoration: none;
}

a:hover
{
  border: 1px solid red
}